body {
    background: #ffe0dd;
    font-family: Arial, Helvetica, sans-serif;
}

#heading-text {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    line-height: 2.5em;
}

#directions-text {
    font-size: 19px;
    text-align: center; 
    line-height: 1.65em;
}

.crystal-images {
    width: 200px;
    height: 200px;
}

#crystals {
    text-align: center;
}

#goal-score {
    font-size: 25px;
    line-height: 1.5em;
    text-align: center;
}

#score-text {
    font-size: 25px;
    line-height: 1.5em;
    text-align: center;
}

#wins-text, #losses-text{
    font-size: 22px;
    line-height: 1.5em;
    text-align: center;
}